.contact-page__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-form__container {
  background-color: white;
  position: relative;
  width: 700px;
  height: 600px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.contact-section__container {
  width: 100%;
  margin: auto;
  display: flex;
}

.contact-left__container {
  margin: auto;
}

.form__container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-right__container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.mail__container {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: #00a8e8;
}

.socials__container {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.form-input__container {
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: #00a8e8;
  margin: auto;
}

label {
  font-family: roberto;
  font-display: swap;
  color: rgb(139, 149, 158);
  position: absolute;
  box-shadow: 0 0 3px 2px white;
  background-color: white;
  transform: translate(16px, -32px);
  transition: all 0.3s ease-out;
}

input:focus + label {
  font-size: 0.9em;
  color: #00a8e8;
  transform: translate(12px, -55px);
}

input.ng-dirty + label {
  font-size: 0.9em;
  transform: translate(12px, -55px);
}

textarea + label {
  transform: translate(16px, -87px);
}

textarea:focus + label {
  font-size: 0.9em;
  color: #00a8e8;
  transform: translate(12px, -110px);
}

textarea.ng-dirty + label {
  font-size: 0.9em;
  transform: translate(12px, -110px);
}

input {
  margin-top: 5px;
  width: 300px;
  display: block;
  padding: 12px 15px;
  font-family: roberto;
  font-display: swap;
  border: solid 1px rgb(139, 149, 158);
  border-radius: 5px;
  font-size: 1em;
  color: #00a8e8;
  transition: all 0.3s ease-out;
}

input:focus {
  border: solid 1px #00a8e8;
}

textarea {
  margin-top: 5px;
  width: 300px;
  height: 100px;
  display: block;
  padding: 12px 15px;
  font-family: roberto;
  font-display: swap;
  border: solid 1px rgb(139, 149, 158);
  border-radius: 5px;
  font-size: 1em;
  color: #00a8e8;
  resize: none;
}

.submit-button {
  margin: auto;
  justify-self: center;
}
