.section__container {
  width: 100%;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
}

.section__row {
  width: 100%;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left__item {
  width: 550px;
  height: 100%;
  margin: auto;
}

.right__item {
  width: 550px;
  height: 100%;
  margin: auto;
}
