
<!-- Front End Development -->
<div class="section__container">
    <div class="section__row">
        <div class="left__item">
            <app-portfolio-laptop></app-portfolio-laptop>
        </div>  
        <div class="right__item">
            <h1>Front End Development</h1>
            <h3>The First Section</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.
            </p>
            <h3>The First Section</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.
            </p>
            <h3>The First Section</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.
            </p>
        </div>
    </div>
    <div class="section__row">
        <div class="left__item">
            <h1>Mobile Development</h1>
            <h3>The First Section</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.
            </p>
            <h3>The First Section</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.
            </p>
            <h3>The First Section</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.
            </p>
        </div>  
        <div class="right__item">
            <app-portfolio-mobile></app-portfolio-mobile> 
        </div>
    </div>
</div>