.background {
  background-color: #edf2f4;
}

.red-shapes {
  background-color: #ef233c;
}

.top-left__clip {
  z-index: 1;
  clip-path: url(#top-left__clip);
}

.top-left__path {
  will-change: transform d;
  animation: top-left__animation 30s ease-in-out infinite alternate;
}
.bottom-right__clip {
  z-index: 1;
  clip-path: url(#bottom-right__clip);
}

.bottom-right__path {
  will-change: transform d;
  animation: bottom-right__animation 30s ease-in-out infinite alternate;
}

.white__text {
  color: #edf2f4 !important;
}

.page__container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  position: relative;
}

.header__container {
  width: 100%;
}

.logo__container {
  left: 0px;
  top: 0px;
  padding-top: 20px;
  padding-left: 30px;
  position: absolute;
}

.nav__container {
  display: flex;
  float: right;
}

.nav-font {
  margin: 5px 10px;
  font-family: basier-circle;
  font-display: swap;
  font-size: 0.5rem;
  font-weight: 900;
  color: #2b2d42;
  letter-spacing: -0.025em;
  cursor: pointer;
}

.logo-font {
  font-family: basier-circle;
  font-display: swap;
  font-size: 1rem;
  font-weight: 900;
  color: #2b2d42;
  letter-spacing: -0.025em;
  cursor: pointer;
}

.content__container {
  margin-top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-header {
  font-family: basier-circle;
  font-display: swap;
  font-size: 1.7rem;
  font-weight: 900;
  color: #2b2d42;
  letter-spacing: -0.025em;
  text-align: center;
}

.content-sub-header {
  margin-top: 10px;
  font-size: 0.7rem;
  font-family: roberto;
  font-display: swap;
  color: #2b2d42;
  line-height: 1.5em;
  text-align: center;
}

.button__container {
  display: flex;
  justify-content: center;
}

.button {
  font-family: roberto;
  font-display: swap;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
}

.primary__button {
  background-color: #ef233c;
  border: solid 1px #ef233c;
  color: #edf2f4;
}

.primary__button:hover {
  background-color: #d90429;
  border: solid 1px #d90429;
}

.secondary__button {
  border: solid 1px #2b2d42;
}

.secondary__button:hover {
  border: solid 1px black;
  color: black;
}
