# Website
/website/dist
/website/tmp
/website/node_modules
/website/.eslintcache

# Functions
/functions/node_modules

# Asset Generator
/apps/asset-generator/dist
/apps/asset-generator/tmp
/apps/asset-generator/node_modules