.header__container {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2.5rem 3rem;
  width: 100%;
  transition: all 0.5s ease;
}

.clip-path {
  clip-path: url(#headerClip);
}

.navigation__container {
  display: flex;
  align-items: center;
  float: right;
}

.home-page__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(25, 28, 31);
  margin: auto 0;
  float: left;
  cursor: pointer;
}

.white {
  color: white !important;
}

.menu-item__text {
  color: rgb(139, 149, 158);
  float: right;
  margin: auto 0 auto 40px;
  transition: all 0.2s ease;
}

.menu-item__text:hover {
  color: rgb(25, 28, 31);
}

.navigation-underline {
  border-bottom: 2px solid #00a8e8;
}

.blue-liquid {
  background: linear-gradient(135deg, #43cbff, #9708cc);
}
