<div *ngIf="!isNotFoundPage" class="header__container">
  <a routerLink="" class="home-page__title"><h2>Chase</h2></a>
  <div class="navigation__container">
    <a
      routerLink="/services"
      class="menu-item__text hide-on-mobile"
      [ngClass]="{ 'navigation-underline': isServicesPage }"
    >
      Services
    </a>
    <a
      routerLink="/contact"
      class="menu-item__text"
      [ngClass]="{ 'navigation-underline': isContactPage }"
    >
      Contact
    </a>
  </div>
</div>

<div
  *ngIf="!isNotFoundPage && !isServicesPage && !isContactPage"
  class="full-screen blue-liquid clip-path"
></div>

<div
  *ngIf="!isNotFoundPage && !isServicesPage && !isContactPage"
  class="header__container clip-path"
>
  <a routerLink="" class="home-page__title"><h2 class="white">Chase</h2></a>
  <div class="navigation__container">
    <a
      routerLink="/services"
      class="menu-item__text white"
      [ngClass]="{ 'navigation-underline': isServicesPage }"
    >
      Services
    </a>
    <a
      routerLink="/contact"
      class="menu-item__text white"
      [ngClass]="{ 'navigation-underline': isContactPage }"
    >
      Contact
    </a>
  </div>
</div>
