.background {
  background-color: white;
  border-radius   : 25px;
}

.overview__container {
  position     : absolute;
  top          : 0px;
  left         : 0px;
  width        : 100%;
  height       : 100%;
  padding      : 30px 20px;
  border-radius: 25px;
  overflow     : hidden;
}

.hamburger-menu {
  display       : flex;
  flex-direction: column;
  cursor        : pointer;
}

.hamburger-top-bun {
  width           : 15px;
  height          : 2px;
  margin          : 2px;
  border-radius   : 2px;
  background-color: grey;
}

.hamburger-bottom-bun {
  width           : 10px;
  height          : 2px;
  margin          : 2px;
  border-radius   : 2px;
  background-color: grey;
}

.card__header {
  margin: 20px 0 10px 0;
}

.card__container {
  display   : flex;
  transform : translateX(0.5px);
  transition: all 1s ease-in-out;
}

.card__animation {
  animation: card-selection 5s forwards;
}

.transaction__container {
  display   : flex;
  transition: all 1s ease-in-out;
  transform : translate(0.5px, 0.5px);
  opacity   : 1;
}

.transaction__animation {
  animation: transaction-selection 5s forwards;
}

@keyframes card-selection {
  0% {
    transform: translateX(0px);
  }

  33% {
    transform: translateX(-230.5px);
  }

  66% {
    transform: translateX(-230.5px);
  }

  100% {
    transform: translateX(-460px);
  }
}

@keyframes transaction-selection {
  0% {
    transform: translate(0px, 0.5px);
    opacity  : 1;
  }

  10% {
    transform: translate(0px, 30px);
    opacity  : 0;
  }

  23% {
    transform: translate(-230.5px, 30px);
    opacity  : 0;
  }

  33% {
    transform: translate(-230.5px, 0.5px);
    opacity  : 1;
  }

  66% {
    transform: translate(-230.5px, 0.5px);
    opacity  : 1;
  }

  76% {
    transform: translate(-230.5px, 30px);
    opacity  : 0;
  }

  90% {
    transform: translate(-460px, 30px);
    opacity  : 0;
  }

  100% {
    transform: translate(-460px, 0.5px);
    opacity  : 1;
  }
}

.hide-side {
  position        : absolute;
  bottom          : 0;
  left            : 0;
  width           : 20px;
  height          : 200px;
  background-color: white;
}