<div class="background"></div>
<div class="overview__container">
  <div class="hamburger-menu">
    <div class="hamburger-top-bun"></div>
    <div class="hamburger-bottom-bun"></div>
  </div>
  <div class="card__header">Cards</div>
  <div class="card__container">
    <app-card *ngFor="let card of cards" [card]="card"></app-card>
  </div>
  <div class="card__header">Transactions</div>
  <div class="transaction__container">
    <app-transaction
      *ngFor="let transaction of transactions"
      [transaction]="transaction"
    ></app-transaction>
  </div>
  <div class="hide-side left"></div>
  <div class="hide-side right"></div>
</div>
