.background {
  background-color: white;
  border-radius: 25px;
}

.overview__container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border-radius: 25px;
  overflow: hidden;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-top-bun {
  width: 15px;
  height: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: grey;
}

.hamburger-bottom-bun {
  width: 10px;
  height: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: grey;
}

.card__header {
  margin: 20px 0 10px 0;
}

.card__container {
  display: flex;
  transform: translateX(0.5px);
  transition: all 1s ease-in-out;
  animation: card-selection 5s 5s forwards;
}

@keyframes card-selection {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-230.5px);
  }
  66% {
    transform: translateX(-230.5px);
  }
  100% {
    transform: translateX(-460px);
  }
}
