<div class="header__container">
  <a routerLink="" class="home-page__title">Chase</a>
  <div class="navigation__container">
    <a
      routerLink="/portfolio"
      class="menu-item__text"
      [ngClass]="{ 'navigation-underline': isPortfolioPage }"
    >
      Portfolio
    </a>
    <button
      routerLink="/contact"
      class="menu-item__button"
      [ngClass]="{ 'navigation-underline': isContactPage }"
    >
      Contact
    </button>
  </div>
</div>

<div class="header-white__container">
  <a routerLink="" class="home-page__title white">Chase</a>
  <div class="navigation__container">
    <a
      routerLink="/portfolio"
      class="menu-item__text white"
      [ngClass]="{ 'navigation-underline': isPortfolioPage }"
    >
      Portfolio
    </a>
    <button
      routerLink="/contact"
      class="menu-item-blue__button"
      [ngClass]="{ 'navigation-underline': isContactPage }"
    >
      Contact
    </button>
  </div>
</div>
