<div class="header__container">
    <a routerLink="" class="remove-link-styling home-page__title">
        <h2>Chase</h2>
    </a>
    <div class="menu__container">
        <a routerLink="/portfolio" class="remove-link-styling menu-item__text" [ngClass]="{'navigation-underline': isPortfolioPage}"><p>Portfolio</p></a>
        <a routerLink="/resume" class="remove-link-styling menu-item__text" [ngClass]="{'navigation-underline': isResumePage}"><p>Resume</p></a>
        <a routerLink="/contact" class="remove-link-styling menu-item__text" [ngClass]="{'navigation-underline': isContactPage}"><p>Contact</p></a>
    </div>
</div>