<div class="mobile-exit-button" routerLink="/">
  <div class="line"></div>
  <div class="line"></div>
</div>

<div class="contact-form__container">
  <div *ngIf="isSent && !isLoading" class="contact-form">
    <h1>Message Sent!</h1>
  </div>
  <div *ngIf="isLoading" class="loading__container">
    <div class="loading-blob"></div>
    <div class="loading-text">
      {{ loadingText }}
    </div>
  </div>
  <div *ngIf="!isSent" class="contact-form">
    <h1>Let's chat!</h1>
    <div class="contact-section__container">
      <div class="contact-left__container">
        <form
          class="form__container"
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit(contactForm.value)"
        >
          <div class="form-input__container">
            <input id="name" type="text" formControlName="name" />
            <label for="name">Name</label>
            <div
              *ngIf="validated && contactForm.controls['name'].invalid"
              class="validation-message"
            >
              <div *ngIf="!contactForm.controls['name'].valid">
                Oh no! I need to know your name 😲
              </div>
            </div>
          </div>
          <div class="form-input__container">
            <input id="email" type="text" formControlName="email" />
            <label for="email">Email</label>
            <div
              *ngIf="validated && contactForm.controls['email'].invalid"
              class="validation-message"
            >
              <div *ngIf="!contactForm.controls['email'].valid">
                Share your email so I can say hi 🙏
              </div>
            </div>
          </div>
          <div class="form-input__container">
            <textarea
              id="message"
              type="textarea"
              formControlName="message"
            ></textarea>
            <label for="message">Message</label>
            <div
              *ngIf="validated && contactForm.controls['message'].invalid"
              class="validation-message"
            >
              <div *ngIf="!contactForm.controls['message'].valid">
                Tell me about your project or idea! 💡
              </div>
            </div>
          </div>
          <button class="submit-button" type="submit">Submit</button>
        </form>
      </div>
      <div class="contact-right__container">
        <div class="mail__container">
          <div class="mail-lid__container">
            <div class="mail-lid"></div>
          </div>
        </div>
        <div class="socials__container">
          <a href="https://www.linkedin.com/in/chasemanning/" target="_blank">
            <div class="social">
              in
            </div>
          </a>
          <a href="https://github.com/chase-manning" target="_blank">
            <div class="social">
              <div class="git-circle">
                <div class="cat-head"></div>
                <div class="cat-body"></div>
                <div class="cat-ear left-ear"></div>
                <div class="cat-ear right-ear"></div>
                <div class="tail-1"></div>
                <div class="tail-2"></div>
              </div>
            </div>
          </a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
            />
          </svg>
          <div class="social">in</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden">
  <app-confirmation-email></app-confirmation-email>
</div>
