<section>
  <div class="portal__container">
    <div>
      <app-digiple-portal></app-digiple-portal>
    </div>
  </div>
  <div class="tracket__container">
    <div>
      <app-mobile-tracket></app-mobile-tracket>
    </div>
  </div>
  <header>
    <div>
      <h2>Digiple</h2>
      <p>About</p>
      <p>Wallet</p>
      <p>Pricing</p>
      <p>Contact</p>
    </div>
    <div>
      <p>Log In</p>
      <div>Get Started</div>
    </div>
  </header>
  <main>
    <h1>Manage Your Cards Online</h1>
    <h4>
      A new modern & secure solution for managing your cards and cashflow
      online.
    </h4>
    <div>Get Started</div>
  </main>
  <div class="help-menu">?</div>
</section>
