<app-home-liquid></app-home-liquid>

<div class="content__container">
  <h1>Chase Manning Freelance Developer</h1>
  <h4>
    Hi, I'm Chase, and I have a passion for development! I love working on web
    and mobile development and can't wait to hear about your project.
  </h4>
  <div class="button__container">
    <button routerLink="/contact">
      Let's Chat
    </button>
  </div>
</div>

<div class="services__container">
  <app-services></app-services>
</div>

<div class="mobile-contact__container">
  <button routerLink="/contact">Let's Chat</button>
</div>
