<div class="full-screen background"></div>

<div class="content__container">
  <h1>Let's Develop Something Incredible Together</h1>
  <p>
    Hi I'm Chase, your friendly neighbourhood Software Developer. I can't wait
    to hear about your exciting project and help you bring it to life!
  </p>
  <div class="button__container">
    <button routerLink="/contact">
      Contact
    </button>
    <button routerLink="/portfolio" class="secondary__button">
      Portfolio
    </button>
  </div>
</div>

<div *ngIf="loadingEnabled && false">
  <app-loading
    (loadingComplete)="enableBackground()"
    (transitionComplete)="disableLoading()"
  ></app-loading>
</div>
