<div class="full-screen background"></div>

<div *ngFor="let layer of layers">
    <app-masked-layer [circles]="layer.circles" [isDropShadow]="true" [isMiddleLayer]="false" [translateX]="24 * mouseXMultiplier" [translateY]="24 * mouseYMultiplier"></app-masked-layer>
    <app-masked-layer [circles]="layer.circles" [isDropShadow]="false" [isMiddleLayer]="true" [translateX]="12 * mouseXMultiplier" [translateY]="12 * mouseYMultiplier"></app-masked-layer>
    <app-masked-layer [circles]="layer.circles" [isDropShadow]="false" [isMiddleLayer]="true" [translateX]="9 * mouseXMultiplier" [translateY]="9 * mouseYMultiplier"></app-masked-layer>
    <app-masked-layer [circles]="layer.circles" [isDropShadow]="false" [isMiddleLayer]="true" [translateX]="6 * mouseXMultiplier" [translateY]="6 * mouseYMultiplier"></app-masked-layer>
    <app-masked-layer [circles]="layer.circles" [isDropShadow]="false" [isMiddleLayer]="true" [translateX]="3 * mouseXMultiplier" [translateY]="3 * mouseYMultiplier"></app-masked-layer>
    <app-masked-layer [circles]="layer.circles" [isDropShadow]="false" [isMiddleLayer]="false" [translateX]="0" [translateY]="0"></app-masked-layer>
</div>
<!-- <app-loading></app-loading> -->