.background {
  background-color: white;
  z-index: -1;
}

.content__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button__container {
  display: flex;
  margin: auto;
  width: 500px;
  margin-top: 10px;
  justify-content: space-evenly;
}

.secondary__button {
  background-color: white;
  color: #00a8e8;
}

.secondary__button:hover {
  color: #007ea7;
}
