.services__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.services-section {
  max-width: 30rem;
  margin: auto;
}

img {
  justify-self: center;
  align-self: center;
}

.web-image {
  width: 100%;
}

.mobile-image {
  height: 550px;
}

button {
  text-align: center;
  margin: 3rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.2rem 6rem;
  display: none;
}

/* Responsive Mobile */
@media only screen and (max-width: 519px) {
  .services__container {
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }
}

/* Responsive Tablet & Desktop */
@media only screen and (min-width: 520px) {
  .services__container > :nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
