<div class="services__container">
  <img
    class="mobile-image"
    src="../../../../assets/mobile.png"
    alt="Example Mobile App"
  />
  <div class="services-section">
    <h2>Mobile Development</h2>
    <h3>Build Your Mobile App</h3>
    <p>
      Have you got an idea for the next Uber? I can build it and you can become
      the next Jeff Bezos! Best idea I had was Tinder for pets, strangely it
      hasn't taken off yet...
    </p>
    <h3>Hybrid App Development</h3>
    <p>
      I love a cheeky bit of Hybrid App Development. My favorite tools are React
      Native, Ionic and Flutter. If you're into these, we should definitely have
      a chat!
    </p>
    <h3>Progressive Web Apps</h3>
    <p>
      Progressive Web Apps are a website disguised as an app. They are quicker
      and cheaper to make and don't rely on having to submit to the IOS and
      Android App Stores.
    </p>
  </div>
  <img
    class="web-image"
    src="../../../../assets/laptop.png"
    alt="Example Website"
  />
  <div class="services-section">
    <h2>Web Development</h2>
    <h3>Need a Website?</h3>
    <p>
      Need a new website for your business? Or maybe just a facelift? Let's have
      a chat and discuss how we can take your online presence to the next level.
      I'll bring my digital Botox!
    </p>
    <h3>Search Engine Optimisation</h3>
    <p>
      Let's work together to get more traffic to your site. Contact me for a
      free audit of your current SEO.
    </p>
    <h3>Digital Marketing</h3>
    <p>
      Digital marketing is crucial to getting the most out of your website. I am
      an expert at building campaigns to get people using your site (I got you
      to read this didn't I?)
    </p>
  </div>
  <img
    class="server-image"
    src="../../../../assets/server.png"
    alt="Server Asset"
  />
  <div class="services-section">
    <h2>Other Cool Stuff</h2>
    <h3>APIs</h3>
    <p>
      APIs are the language of the internet; they are how your Website and
      Mobile App get their data to display to the user. If you want to sound
      super fancy, you should totally get one of these! I like using Node.js and
      .NET Core Web APIs
    </p>
    <h3>Databases</h3>
    <p>
      Databases are where you store all your data for your Website or Mobile
      App. If you have some data to store, then you will probably need a
      database. I like using MySQL, SQL Server and (if I'm feeling fancy)
      some NoSQL.
    </p>
    <h3>Conversion Rate Optimisation</h3>
    <p>
      Conversion Rate Optimisation is the art of increasing the percentage of
      visitors to your site that convert into customers. And personally, is my
      favourite part of the development journey!
    </p>
  </div>
  <button routerLink="/contact">Contact</button>
</div>
