.services__container2 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 10rem;
  margin: 10rem 0;
}

.services-section {
  max-width: 30rem;
  justify-self: center;
  align-self: center;
}

img,
video {
  justify-self: center;
  align-self: center;
}

.web-image {
  width: 100%;
}

.mobile-image {
  width: 100%;
  max-width: 333px;
}

.server-image {
  width: 100%;
  max-width: 470px;
}

button {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.2rem 6rem;
  grid-column-start: 1;
  grid-column-end: span 2;
  justify-self: center;
  align-self: center;
  display: none;
}

/* Responsive Mobile */
@media only screen and (max-width: 519px) {
  .services__container2 {
    grid-template-columns: 1fr;
    margin: 5rem 0;
    row-gap: 5rem;
  }
}

/* Responsive Tablet & Desktop */
@media only screen and (min-width: 520px) {
  .services__container2 > :nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
