<div class="services__container">
  <div class="services-row">
    <div class="demo-section">
      <app-mobile [scale]="mobileScale"></app-mobile>
    </div>
    <div class="services-section">
      <h2>Mobile App Development</h2>
      <h3>Build Your Mobile App</h3>
      <p>
        Have you got an idea for the next Uber? I can build it and you can
        become the next Jeff Bezos! Best idea I had was Tinder for pets,
        strangely it hasn't taken off yet...
      </p>
      <h3>Hybrid App Development</h3>
      <p>
        Normally you would need to build your app twice, once for IOS and once
        for Android. But using cool hybrid technologies, I can build it once for
        both platforms!
      </p>
      <h3>Progressive Web Apps</h3>
      <p>
        Progressive Web Apps are a website disguised as an app. They are quicker
        and cheaper to make and don't rely on having to submit to the IOS and
        Android App Stores.
      </p>
    </div>
  </div>
  <div class="services-row reverse">
    <div class="demo-section">
      <app-laptop [scale]="laptopScale"></app-laptop>
    </div>
    <div class="services-section">
      <h2>Web Development</h2>
      <h3>Need a Website?</h3>
      <p>
        Need a new website for your business? Or maybe just a facelift? Let's
        have a chat and discuss how we can take your online presence to the next
        level. I'll bring my digital Botox!
      </p>
      <h3>Search Engine Optimisation</h3>
      <p>
        Let's work together to get more traffic to your site. Contact me for a
        free audit of your current SEO.
      </p>
      <h3>Digital Marketing</h3>
      <p>
        Digital marketing is crucial to getting the most out of your website. I
        am an expert and building campaigns to get people using your site (I got
        you to read this didn't I?)
      </p>
    </div>
  </div>
  <div class="services-row">
    <div class="demo-section">
      <app-server></app-server>
    </div>
    <div class="services-section">
      <h2>Other Cool Stuff</h2>
      <h3>APIs</h3>
      <p>
        APIs are the language of the internet; they are how your Website and
        Mobile App get their data to display to the user. If you want to sound
        super fancy, you should totally get one of these!
      </p>
      <h3>Databases</h3>
      <p>
        Databases are where you store all your data for your Website or Mobile
        App. If you have some data to store, then you will probably need a
        database.
      </p>
      <h3>Conversion Rate Optimisation</h3>
      <p>
        Conversion Rate Optimisation is the art of increasing the percentage of
        visitors to your site that convert into customers. And personally, is my
        favourite part of the development journey!
      </p>
    </div>
  </div>
</div>
