.services__container {
  margin-top    : 2rem;
  display       : flex;
  flex-direction: column;
}

.services-row {
  display              : grid;
  grid-template-columns: 1fr 1fr;
  column-gap           : 2rem;
  margin               : 5rem 0;
}

.demo-section {
  overflow: hidden;
}

.services-section {
  max-width: 30rem;
}

.reverse> :last-child {
  grid-row-start: 1;
}

/* Responsive Mobile */
@media only screen and (max-width: 519px) {
  .services-row {
    display: block;
  }

}