<div class="services__container">
  <app-laptop [scale]="laptopScale"></app-laptop>
  <div>
    <h2>Web Development</h2>
    <h3>Website Creation</h3>
    <p>
      Need a new website for your business? Or maybe just a facelift? Let's have
      a chat and discuss how we can take your online presence to the next level.
      I'll bring my digital Botox!
    </p>
    <h3>Front End Development</h3>
    <p>
      Let's get our hands dirty and build a Web App together! I'm a big fan of
      React, Angular and Vue and would love to hear more about your project and
      how I could help.
    </p>
    <h3>SEO & Digital Marketing</h3>
    <p>
      Let's work together to get more traffic to your site and improve your
      conversion rate. We can setup Analytics, some AB Testing, Optimise your
      site for SEO, and work on a Digital Marketing Campaign!
    </p>
  </div>
  <div>
    <h2>Mobile Development</h2>
    <h3>Build An App</h3>
    <p>
      Have you got an idea for the next Uber? Please let me know so I can build
      it for you and you can become a millionaire! Best idea I had was Tinder
      for pets, strangely it hasn't taken off yet...
    </p>
    <h3>Cross Platform Development</h3>
    <p>
      Oh boy do I love a bit of Cross Platform Development! If React Native,
      Ionic or Flutter get you excited, then we need to have a chat.
    </p>
    <h3>I Ran Out Of Ideas</h3>
    <p>
      I felt it important to have three headers for each section. But I ran out
      of ideas for this one. So, this is just a filler so it looks better.
    </p>
  </div>
  <app-mobile [scale]="mobileScale"></app-mobile>
  <app-server></app-server>
  <div>
    <h2>Other Cool Stuff</h2>
    <h3>APIs</h3>
    <p>
      APIs are the language of the internet; they are how your Website and
      Mobile App get their data to display to the user. If you want to sound
      super fancy, you should totally get one of these! I like using C# Web APIs
      and Node.js.
    </p>
    <h3>Databases</h3>
    <p>
      Databases are where you store all your data for your Website or Mobile
      App. If you have some data to store, then you will probably need one of
      these! I like using MS SQL Server, MySQL and (if I'm felling hip) some
      NoSQL.
    </p>
    <h3>Dev Ops & CI/CD</h3>
    <p>
      Dev Ops is adding lots of awesome automation to make your development
      process faster and more stable. I like using Azure Pipelines, GitLab
      Runners, GitHub Workflows and Jenkins.
    </p>
  </div>
</div>
