.container {
  width: 100%;
  height: 100%;
  display: flex;
}

aside {
  height: 100%;
  width: 60px;
  padding: 12px 6px;
}

h3 {
  font-size: 7px;
  text-transform: none;
  margin: 0 0 20px 0;
}

aside > div {
  height: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside > div > :first-child > :first-child {
  background-color: #f5f8fe;
  border-radius: 2px;
  color: #191c1f;
}

h4 {
  font-size: 5px;
  margin: 0;
  line-height: 1;
  margin-bottom: 2px;
  padding: 3px;
}

.expandable::after {
  width: 15px;
  height: 15px;
}

main {
  width: 100%;
  height: 100%;
  background-color: #fafbfd;
  padding: 12px;
  overflow: hidden;
}

h1 {
  font-size: 7px;
  padding-right: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header {
  display: flex;
  align-items: center;
}

.new-card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f3fa;
  color: #788196;
  padding: 1px 3px;
  border-radius: 0.5;
}

.new-card__text {
  font-size: 3px;
}

.new-card__icon {
  font-size: 5px;
  padding-left: 3px;
  border-radius: 3px;
}

.help-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  width: 7px;
  height: 7px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.card__container {
  display: flex;
  transform: scale(0.3) translate(-250px, -120px);
}

.detail__container {
  display: flex;
  height: 100%;
  transform: translateY(-70px);
}

.something-else__container {
  height: 100%;
  width: 60%;
  padding: 5px;
}

.transactions__container {
  height: 100%;
  width: 40%;
  padding: 5px;
  border-left: solid 0.1px rgba(0, 0, 0, 0.04);
}

.transaction-header {
  display: flex;
  justify-content: space-between;
}

.transaction-header__text {
  font-size: 5px;
}

.view-report__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f8fe;
  border-radius: 2px;
  color: #191c1f;
  font-size: 2px;
  padding: 2px;
}

.transaction-item__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px 0 3px 0;
  border-bottom: solid 0.1px rgba(0, 0, 0, 0.04);
  margin-top: 2px;
}

.transaction-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.main-text {
  font-size: 4px;
}

.sub-text {
  font-size: 3px;
  color: #8b959e;
}

.drop-highlight {
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: red;
  bottom: 0;
  left: 0;
}

.pie-chart__container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.pie-chart {
  background: conic-gradient(
    #5c00d1 0,
    #5c00d1 38%,
    #8200d1 0,
    #8200d1 77%,
    #a74ddf 0,
    #a74ddf 87%,
    #3e244e 0,
    #3e244e 100%
  );
  width: 100%;
  height: 100%;
}

.pie-hole {
  background-color: red;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafbfd;
}

.spending__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7px;
}

.legend-text {
  font-size: 3px;
}

.legend {
  display: flex;
  align-items: center;
}

.legend-color {
  width: 3px;
  height: 3px;
  margin-right: 3px;
  border-radius: 50%;
}

.first {
  background-color: #5c00d1;
}

.second {
  background-color: #8200d1;
}

.third {
  background-color: #a74ddf;
}

.fourth {
  background-color: #3e244e;
}

.payments__container {
  width: 100%;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.payments {
  margin-top: 7px;
  display: flex;
  width: 100%;
}

.payments__container:first-child {
  border-left: solid 0.1px rgba(0, 0, 0, 0.04);
}

.payment {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: solid 1px rgba(0, 0, 0, 0.04);
  text-align: center;
}

.payment-number {
  font-size: 7px;
}

.payment-description {
  font-size: 3px;
}
