.front {
    position: relative;
    width: 650px;
    height: 460px;
    margin: auto;
    z-index: 1;
}

.screen-border {
    width: 100%; height: 85%;
    border: 25px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.screen-base {
    width: 100%; height: 15%;
    background-image: linear-gradient(to right, #98999e, #d4d3d8);
    border-bottom-left-radius: 20px;
}

.base {
    background-image: linear-gradient(#7A7B80, #939498);
    width: 153px; height: 20px;
    margin: auto;
    top: 500px;
    transform-style: preserve-3d;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform:  perspective(4cm) rotateX(15deg) translate3d(0, -3px, 0);
    z-index: -1;
}

.base-floor {
    width: 150px; height: 50px;
    background-image: linear-gradient(#92929A, #DEDFE3, #7A7B80);
    margin: auto;
    z-index: 1;
}

.screen-reflection {
    position: absolute;
    display: inline-block;
    top: 0px; left: 0px;
    background-image: linear-gradient(white,rgb(255, 255, 255, 0));
    width: 300%; height: 100%;
    opacity: 0.2;
    transform: rotate(-50deg) translate(0px, -250px);
}

.camera {
    position: absolute;
    top: 8px; left: 50%;
    width: 8px; height: 8px;
    background-color: white;
    opacity: 0.2;
    border-radius: 50%;
}