<div class="server__container">
  <!-- Top Layer -->
  <div *ngFor="let layer of topSectionLayers">
    <div class="body__shape body__main" [ngStyle]="{ 'top.px': layer }"></div>
  </div>
  <div class="body__shape body__top"></div>
  <div class="left__container">
    <div class="extractor-fan"></div>
  </div>
  <div class="right__container">
    <div class="panel__column">
      <div class="panel__row">
        <div class="panel__light light-blue"></div>
        <div class="panel__light light-grey"></div>
        <div class="panel__light light-white"></div>
        <div class="panel__light light-white"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light light-white"></div>
      </div>
    </div>
    <div class="panel__column">
      <div class="panel__row">
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
      </div>
    </div>
    <div class="panel__column">
      <div class="panel__row">
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
      </div>
    </div>
    <div class="panel__column">
      <div class="panel__row">
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
        <div class="panel__light"></div>
      </div>
    </div>
  </div>
</div>
