<div class="transaction__container">
  <div class="row">
    <div class="left">
      <div class="icon"></div>
      <div class="item">
        <div class="category">Travel</div>
        <div class="description">Air NZ Tickets</div>
      </div>
    </div>
    <div class="right">
      <div class="price">-$16.74</div>
      <div class="date">27 Dec 2:39pm</div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="icon"></div>
      <div class="item">
        <div class="category">Travel</div>
        <div class="description">Air NZ Tickets</div>
      </div>
    </div>
    <div class="right">
      <div class="price">-$16.74</div>
      <div class="date">27 Dec 2:39pm</div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="icon"></div>
      <div class="item">
        <div class="category">Travel</div>
        <div class="description">Air NZ Tickets</div>
      </div>
    </div>
    <div class="right">
      <div class="price">-$16.74</div>
      <div class="date">27 Dec 2:39pm</div>
    </div>
  </div>
  <div class="row">
    <div class="left">
      <div class="icon"></div>
      <div class="item">
        <div class="category">Travel</div>
        <div class="description">Air NZ Tickets</div>
      </div>
    </div>
    <div class="right">
      <div class="price">-$16.74</div>
      <div class="date">27 Dec 2:39pm</div>
    </div>
  </div>
</div>
