<svg class="full-screen" width="100%" height="100%">
  <defs>
    <clipPath id="top-left__clip">
      <path
        class="top-left__path"
        d="m138.5,132.4375c5,16.5 22.5,30.75 45,36.625c22.5,5.875 50,3.375 75,-13.625c25,-17 34,-35.25 35.375,-50.875c1.375,-15.625 -4.875,-28.625 -10.375,-35.125c-5.5,-6.5 -19.75,-17.5 -36.75,-24.5c-17,-7 -36.75,-10 -53.25,-0.5c-8.25,4.75 -15.5,10.5625 -23.07812,17.125c-7.57813,6.5625 -14.48438,13.875 -20.04688,21.625c-5.5625,7.75 -9.78125,15.9375 -11.98437,24.25c-2.20313,8.3125 -2.39063,16.75 0.10937,25z"
      />
    </clipPath>
  </defs>
</svg>

<div class="full-screen background"></div>
<div class="full-screen red-shapes"></div>

<div class="page__container">
  <div class="header__container">
    <div class="logo__container">
      <span class="logo-font">Digiple</span>
    </div>
    <div class="nav__container">
      <span class="nav-font">About</span>
      <span class="nav-font">Pricing</span>
      <span class="nav-font">Contact Us</span>
    </div>
  </div>
  <div class="content__container">
    <div class="content-header">
      Jump-start your
    </div>
    <div class="content-header">
      Digital Marketing
    </div>
    <div class="content-sub-header">
      We help business all over the world deliver marketing campaigns that make
      an impact
    </div>
    <div class="button__container">
      <div class="button primary__button">
        Free Trial
      </div>
      <div class="button secondary__button">
        View Pricing
      </div>
    </div>
  </div>
</div>
