<svg class="full-screen" width="100%" height="100%">
  <defs>
    <clipPath id="top-left__clip">
      <path class="top-left__path" />
    </clipPath>
  </defs>
</svg>

<div class="full-screen background"></div>
<div class="full-screen red-shapes top-left__clip"></div>

<div class="page__container">
  <div class="header__container">
    <div class="logo__container">
      <span class="logo-font">Digiple</span>
    </div>
    <div class="logo__container top-left__clip">
      <span class="logo-font white__text">Digiple</span>
    </div>
    <div class="nav__container">
      <span class="nav-font">About</span>
      <span class="nav-font">Pricing</span>
      <span class="nav-font">Contact Us</span>
    </div>
  </div>
  <div class="content__container">
    <div class="content-header">
      Jump-start your
    </div>
    <div class="content-header">
      Digital Marketing
    </div>
    <div class="content-sub-header">
      We help business all over the world deliver marketing campaigns that make
      an impact
    </div>
    <div class="button__container">
      <div class="button primary__button">
        Free Trial
      </div>
      <div class="button secondary__button">
        View Pricing
      </div>
    </div>
  </div>
</div>
