/* White #edf2f4
 * Black #2b2d42
 * Grey #8d99ae
 * Red #ef233c
 * Red Accent #d90429 
*/

.background {
  background-color: #edf2f4;
}

.red-shapes {
  background-color: #ef233c;
  clip-path: url(#top-left__clip);
}

.top-left__path {
  will-change: transform d;
  transform: translate(-270px, -150px);
  animation: top-left__animation 30s ease-in-out infinite alternate;
}

@keyframes top-left__animation {
  0% {
    transform: translate(-270px, -150px);
    d: path(
      "m138.5,132.4375c5,16.5 22.5,30.75 45,36.625c22.5,5.875 50,3.375 75,-13.625c25,-17 34,-35.25 35.375,-50.875c1.375,-15.625 -4.875,-28.625 -10.375,-35.125c-5.5,-6.5 -19.75,-17.5 -36.75,-24.5c-17,-7 -36.75,-10 -53.25,-0.5c-8.25,4.75 -15.5,10.5625 -23.07812,17.125c-7.57813,6.5625 -14.48438,13.875 -20.04688,21.625c-5.5625,7.75 -9.78125,15.9375 -11.98437,24.25c-2.20313,8.3125 -2.39063,16.75 0.10937,25z"
    );
  }
  10% {
    transform: translate(-170px, -80px);
    d: path(
      "m144.5,133.4375c5,16.5 17.5,16.75 47,21.625c29.5,4.875 71,26.375 90,11.375c19,-15 5,-34.25 3.375,-56.875c-1.625,-22.625 -2.875,-29.625 -7.375,-39.125c-4.5,-9.5 -3.75,-18.5 -20.75,-25.5c-17,-7 -46.75,-11 -63.25,-1.5c-8.25,4.75 -15.5,10.5625 -23.07812,17.125c-7.57813,6.5625 -14.48438,13.875 -20.04688,21.625c-5.5625,7.75 -9.78125,15.9375 -11.98437,24.25c-2.20313,8.3125 3.60937,18.75 6.10937,27z"
    );
  }
  40% {
    transform: translate(-140px, -40px);
    d: path(
      "m153.5,149.4375c32.5,6.25 49.5,-1.25 72,-3.375c22.5,-2.125 63,19.375 72,3.375c9,-16 -15,-22.25 -16.625,-44.875c-1.625,-22.625 9.125,-29.625 7.625,-42.125c-1.5,-12.5 -1.75,-60.5 -18.75,-67.5c-17,-7 -62.75,2 -79.25,11.5c-8.25,4.75 -27.5,17.5625 -35.07812,24.125c-7.57813,6.5625 -22.48438,16.875 -28.04688,24.625c-5.5625,7.75 -49.78125,66.9375 -51.98437,75.25c-2.20313,8.3125 45.60937,12.75 78.10937,19z"
    );
  }
  70% {
    transform: translate(-140px, -40px);
    d: path(
      "m179.5,129.4375c32.5,6.25 46.5,26.75 69,24.625c22.5,-2.125 36,-16.625 54,-24.625c18,-8 34,-10.25 26.375,-27.875c-7.625,-17.625 -18.875,-22.625 -28.375,-46.125c-9.5,-23.5 -14.75,-54.5 -31.75,-61.5c-17,-7 -62.75,2 -79.25,11.5c-8.25,4.75 -27.5,17.5625 -35.07812,24.125c-7.57813,6.5625 -22.48438,16.875 -28.04688,24.625c-5.5625,7.75 -49.78125,66.9375 -51.98437,75.25c-2.20313,8.3125 72.60937,-6.25 105.10937,0z"
    );
  }
  100% {
    transform: translate(-140px, -40px);
    d: path(
      "m208.5,145.4375c25.5,-3.75 43.5,-9.25 63,-16.375c19.5,-7.125 35,0.375 43,-13.625c8,-14 -2,-25.25 -9.625,-42.875c-7.625,-17.625 -11.875,-16.625 -21.375,-40.125c-9.5,-23.5 1.25,-32.5 -15.75,-39.5c-17,-7 -62.75,2 -79.25,11.5c-8.25,4.75 -27.5,17.5625 -35.07812,24.125c-7.57813,6.5625 -22.48438,16.875 -28.04688,24.625c-5.5625,7.75 -49.78125,66.9375 -51.98437,75.25c-2.20313,8.3125 109.60937,20.75 135.10937,17z"
    );
  }
}

.page__container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  position: relative;
}

.header__container {
  width: 100%;
}

.logo__container {
  float: left;
}

.nav__container {
  display: flex;
  float: right;
}

.nav-font {
  margin: 5px 10px;
  font-family: basier-circle;
  font-size: 0.5rem;
  font-weight: 900;
  color: #2b2d42;
  letter-spacing: -0.025em;
  cursor: pointer;
}

.logo-font {
  font-family: basier-circle;
  font-size: 1rem;
  font-weight: 900;
  color: #2b2d42;
  letter-spacing: -0.025em;
  cursor: pointer;
}

.content__container {
  margin-top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-header {
  font-family: basier-circle;
  font-size: 1.7rem;
  font-weight: 900;
  color: #2b2d42;
  letter-spacing: -0.025em;
  text-align: center;
}

.content-sub-header {
  margin-top: 10px;
  font-size: 0.7rem;
  font-family: roberto;
  color: #2b2d42;
  line-height: 1.5em;
  text-align: center;
}

.button__container {
  display: flex;
  justify-content: center;
}

.button {
  font-family: roberto;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 8px;
  margin: 15px;
  border-radius: 5px;
  min-width: 90px;
  text-align: center;
  cursor: pointer;
}

.primary__button {
  background-color: #ef233c;
  border: solid 1px #ef233c;
  color: #edf2f4;
}

.primary__button:hover {
  background-color: #d90429;
  border: solid 1px #d90429;
}

.secondary__button {
  border: solid 1px #2b2d42;
}

.secondary__button:hover {
  border: solid 1px black;
  color: black;
}

/* m138.5,132.4375c5,16.5 22.5,30.75 45,36.625c22.5,5.875 50,3.375 75,-13.625c25,-17 34,-35.25 35.375,-50.875c1.375,-15.625 -4.875,-28.625 -10.375,-35.125c-5.5,-6.5 -19.75,-17.5 -36.75,-24.5c-17,-7 -36.75,-10 -53.25,-0.5c-8.25,4.75 -15.5,10.5625 -23.07812,17.125c-7.57813,6.5625 -14.48438,13.875 -20.04688,21.625c-5.5625,7.75 -9.78125,15.9375 -11.98437,24.25c-2.20313,8.3125 -2.39063,16.75 0.10937,25z
 * m144.5,133.4375c5,16.5 17.5,16.75 47,21.625c29.5,4.875 71,26.375 90,11.375c19,-15 5,-34.25 3.375,-56.875c-1.625,-22.625 -2.875,-29.625 -7.375,-39.125c-4.5,-9.5 -3.75,-18.5 -20.75,-25.5c-17,-7 -46.75,-11 -63.25,-1.5c-8.25,4.75 -15.5,10.5625 -23.07812,17.125c-7.57813,6.5625 -14.48438,13.875 -20.04688,21.625c-5.5625,7.75 -9.78125,15.9375 -11.98437,24.25c-2.20313,8.3125 3.60937,18.75 6.10937,27z
 * m153.5,149.4375c32.5,6.25 49.5,-1.25 72,-3.375c22.5,-2.125 63,19.375 72,3.375c9,-16 -15,-22.25 -16.625,-44.875c-1.625,-22.625 9.125,-29.625 7.625,-42.125c-1.5,-12.5 -1.75,-60.5 -18.75,-67.5c-17,-7 -62.75,2 -79.25,11.5c-8.25,4.75 -27.5,17.5625 -35.07812,24.125c-7.57813,6.5625 -22.48438,16.875 -28.04688,24.625c-5.5625,7.75 -49.78125,66.9375 -51.98437,75.25c-2.20313,8.3125 45.60937,12.75 78.10937,19z
 * m179.5,129.4375c32.5,6.25 46.5,26.75 69,24.625c22.5,-2.125 36,-16.625 54,-24.625c18,-8 34,-10.25 26.375,-27.875c-7.625,-17.625 -18.875,-22.625 -28.375,-46.125c-9.5,-23.5 -14.75,-54.5 -31.75,-61.5c-17,-7 -62.75,2 -79.25,11.5c-8.25,4.75 -27.5,17.5625 -35.07812,24.125c-7.57813,6.5625 -22.48438,16.875 -28.04688,24.625c-5.5625,7.75 -49.78125,66.9375 -51.98437,75.25c-2.20313,8.3125 72.60937,-6.25 105.10937,0z
 * m208.5,145.4375c25.5,-3.75 43.5,-9.25 63,-16.375c19.5,-7.125 35,0.375 43,-13.625c8,-14 -2,-25.25 -9.625,-42.875c-7.625,-17.625 -11.875,-16.625 -21.375,-40.125c-9.5,-23.5 1.25,-32.5 -15.75,-39.5c-17,-7 -62.75,2 -79.25,11.5c-8.25,4.75 -27.5,17.5625 -35.07812,24.125c-7.57813,6.5625 -22.48438,16.875 -28.04688,24.625c-5.5625,7.75 -49.78125,66.9375 -51.98437,75.25c-2.20313,8.3125 109.60937,20.75 135.10937,17z
 */
