.background {
  background-color: white;
  border-radius: 25px;
}

.overview__container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border-radius: 25px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-top-bun {
  width: 15px;
  height: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: grey;
}

.hamburger-bottom-bun {
  width: 10px;
  height: 2px;
  margin: 2px;
  border-radius: 2px;
  background-color: grey;
}

.card__header {
  margin: 20px 0 10px 0;
}

.card__container {
}

.card {
  width: 220px;
  height: 130px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.blur {
  width: 100%;
  height: 100%;
  filter: blur(40px);
}

.card-background {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
  background-color: #8200d1;
}

.circle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 120%;
  border-radius: 50%;
  background-color: #5c00d1;
  transform: translate(-30%, -50%);
}

.circle-bottom-left {
  position: absolute;
  width: 200%;
  height: 160%;
  transform: translate(-50%, 10%);
  border-radius: 50%;
  background-color: #3e244e;
}

.circle-bottom-right {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(50%, 30%);
  border-radius: 50%;
  background-color: #a74ddf;
}
