<div class="full-screen background"></div>
<div class="overview__container">
  <div class="hamburger-menu">
    <div class="hamburger-top-bun"></div>
    <div class="hamburger-bottom-bun"></div>
  </div>
  <div class="card__header">
    My Cards
  </div>
  <div class="card__container">
    <div class="card">
      <div class="blur">
        <div class="card-background"></div>
        <div class="circle-bottom-left"></div>
        <div class="circle-bottom-right"></div>
        <div class="circle-top-left"></div>
      </div>
    </div>
  </div>
</div>
