.background {
  background-color: white;
  z-index: -1;
}

.content__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button__container {
  display: flex;
  margin: auto;
  width: 500px;
  margin-top: 30px;
  justify-content: space-evenly;
}

/* These can be removed after we finish the Google Optimise section on it */
.content__container > h1 {
  margin: auto;
}

.content__container > p {
  margin: auto;
  margin-top: 23px;
}
