<app-home-liquid></app-home-liquid>

<div class="content__container">
  <h1>Let's Create Something Incredible Together</h1>
  <h4>
    Hi, I'm Chase, your friendly neighbourhood Software Developer. I can't wait
    to hear about your exciting project and help you bring it to life! Send me a
    message or check the services I offer.
  </h4>
  <div *ngIf="false" class="button__container">
    <button routerLink="/contact">
      Contact
    </button>
    <button routerLink="/services" class="secondary__button">
      Services
    </button>
  </div>
</div>
