<div class="page__container">
  <img
    src="../../../../../assets/Images/Slider 02.jpg"
    class="background__image"
  />
  <nav class="nav-bar">
    <div class="nav-bar-pages__container">
      <span class="nav-page__text">Try On</span>
      <span class="nav-page__text">Designers</span>
      <span class="nav-page__text">How it Works</span>
      <span class="nav-page__text">Contact</span>
    </div>
  </nav>
  <div class="main-content__container">
    <span class="header__text">Oh Rent Me</span>
    <span class="sub-header__text"
      >Your one stop shop for premium rentals of all your favourite deisgner
      brands</span
    >
    <button class="call-to-action__button">Browse Rentals</button>
  </div>
  <div class="footer__container">
    <span></span>
  </div>
</div>
