.outside {
  position: relative;
  width: 270px;
  height: 507px;
  background-color: white;
  margin: auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.inside {
  width: 261px;
  height: 492px;
  margin: auto;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #d3d7db;
  background-color: #f1f3f6;
}

.inner__border-radius {
  border-radius: 25px;
}

.outer__border-radius {
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.1)
  );
}

.speaker {
  position: absolute;
  width: 38px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.dot {
  width: 2px;
  height: 2px;
  border-radius: 1px;
  background-color: #555555;
}

.line {
  background-color: #e0e1e4;
  border-right: solid 1px #e5e6e9;
  border-left: solid 1px #dbdcdf;
  position: absolute;
  top: 0;
  width: 6px;
  height: 100%;
}

.line-left {
  left: 15%;
}

.line-right {
  right: 15%;
}
