<div class="outside">
  <div class="line line-left"></div>
  <div class="line line-right"></div>
  <div class="overlay outer__border-radius"></div>
  <div class="inside">
    <app-mobile-tracket></app-mobile-tracket>
    <div class="overlay inner__border-radius"></div>
    <div class="speaker">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</div>
