<div class="card">
  <div class="blur">
    <div
      class="card-background"
      [ngStyle]="{ 'background-color': card.color2 }"
    ></div>
    <div
      class="circle-bottom-left"
      [ngStyle]="{ 'background-color': card.color4 }"
    ></div>
    <div
      class="circle-bottom-right"
      [ngStyle]="{ 'background-color': card.color3 }"
    ></div>
    <div
      class="circle-top-left"
      [ngStyle]="{ 'background-color': card.color1 }"
    ></div>
  </div>
  <div class="card-contents">
    <div class="card-top">
      <div class="balance">{{ card.balance }}</div>
      <div class="logo__container">
        <div class="circle left"></div>
        <div class="circle right"></div>
      </div>
    </div>
    <div class="card-bottom">
      <div class="number">{{ card.number }}</div>
      <div class="expiry">{{ card.expiry }}</div>
    </div>
  </div>
</div>
