.card {
  position: relative;
  width: 220px;
  height: 130px;
  border-radius: 15px;
  box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-right: 10px;
  transition: all 1s ease-in-out;
}

.blur {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(40px);
}

.card-background {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
}

.circle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 120%;
  border-radius: 50%;
  transform: translate(-30%, -50%);
}

.circle-bottom-left {
  position: absolute;
  width: 200%;
  height: 160%;
  transform: translate(-50%, 10%);
  border-radius: 50%;
}

.circle-bottom-right {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(50%, 30%);
  border-radius: 50%;
}

.card-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.logo__container {
  display: flex;
}

.circle {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: white;
}

.left {
  transform: translateX(33%);
}

.right {
  opacity: 0.5;
}

.balance {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}

.number {
  font-size: 0.7rem;
}

.expiry {
  font-size: 0.7rem;
}
