* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.65;
}

.full-screen {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  color: #191c1f;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  color: #191c1f;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  color: #191c1f;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1.8rem;
}

p {
  color: #8b959e;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.8rem;
}

a,
a:active,
a:visited {
  outline: none;
  text-decoration: none;
}

button {
  background-color: #00a8e8;
  line-height: 1.5rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  padding: 1rem 4.125rem;
  border: solid 2px #00a8e8;
  border-radius: 2rem;
  outline: none;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #007ea7;
  border: solid 2px #007ea7;
}

.secondary__button {
  background-color: white;
  color: #00a8e8;
}

.secondary__button:hover {
  background-color: white;
  color: #007ea7;
}
