<div class="full-screen background"></div>

<svg class="full-screen">
    <mask id="mask__filter">
        <rect class="mask__area" width="100%" height="100%" />
        <circle cx="425" cy="475" r="100" fill="black" stroke-width="5" />
        <circle cx="570" cy="475" r="100" fill="black" stroke-width="5" />
    </mask>
</svg>

<div class="full-screen drop-shadow__container">
    <svg class="full-screen gooey-filter">
        <rect class="mask drop-shadow" width="100%" height="100%"></rect>
    </svg>
</div>

<svg class="full-screen gooey-filter">
    <rect class="mask foreground" width="100%" height="100%"></rect>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="gooey-filter">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
            <feComposite in="SourceGraphic" in2="goo" operator="atop" />
        </filter>
    </defs>
</svg>

<!-- <app-loading></app-loading> -->