<!-- Resume -->
<div class="resume-page__container">
  <div class="resume__container">
    <!-- Left Panel -->
    <div class="resume-left__container">
      <!-- Profile Picture -->
      <div class="profile-picture__container">
        <img
          src="../../../assets/Images/profile picure.png"
          class="profile-picture"
        />
      </div>

      <!-- About Me -->
      <span class="header__text">About Me</span>
      <span class="content__text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
        tristique, augue et condimentum blandit, magna urna viverra ante, in
        eleifend justo orci sit amet lorem.</span
      >
      <span class="divider-line"></span>

      <!-- Social Links -->
      <span class="header__text">Social Links</span>
      <span class="content__text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
        tristique, augue et condimentum blandit, magna urna viverra ante, in
        eleifend justo orci sit amet lorem.</span
      >
      <span class="divider-line"></span>

      <!-- References -->
      <span class="header__text">References</span>
      <span class="content__text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
        tristique, augue et condimentum blandit, magna urna viverra ante, in
        eleifend justo orci sit amet lorem.</span
      >
      <span class="divider-line"></span>
    </div>

    <!-- Right Panel -->
    <div class="resume-right__container">
      <!-- Name and Occupation -->
      <span class="name__text">Chase</span>
      <span class="name__text">Manning</span>
      <span class="divider-line"></span>

      <!-- Work Experience -->
      <span class="header__text">Work Experience</span>

      <!-- Datacom -->
      <div class="experience__container">
        <div class="experience-left__container">
          <span class="subheader__text">Datacom</span>
          <span class="content__text">Oct 2019 - Present</span>
        </div>
        <span class="time-dot"></span>
        <div class="experience-right__container">
          <span class="subheader__text">Full Stack Developer</span>
          <span class="content__text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            tristique, augue et condimentum blandit, magna urna viverra ante, in
            eleifend justo orci sit amet lorem.</span
          >
          <span class="content__text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            tristique, augue et condimentum blandit, magna urna viverra ante, in
            eleifend justo orci sit amet lorem.</span
          >
        </div>
      </div>

      <!-- SiteSoft -->
      <div class="experience__container">
        <div class="experience-left__container">
          <span class="subheader__text">SiteSoft</span>
          <span class="content__text">Jan 2019 - Oct 2019</span>
        </div>
        <span class="time-dot"></span>
        <div class="experience-right__container">
          <span class="subheader__text">Cheif Technology Officer</span>
          <span class="content__text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            tristique, augue et condimentum blandit, magna urna viverra ante, in
            eleifend justo orci sit amet lorem.</span
          >
          <span class="content__text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            tristique, augue et condimentum blandit, magna urna viverra ante, in
            eleifend justo orci sit amet lorem.</span
          >
        </div>
      </div>

      <!-- Vocus Group -->
      <div class="experience__container">
        <div class="experience-left__container">
          <span class="subheader__text">Vocus Group</span>
          <span class="content__text">Dec 2015 - Jan 2019</span>
        </div>
        <span class="time-dot"></span>
        <div class="experience-right__container">
          <span class="subheader__text">Software Developer</span>
          <span class="content__text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            tristique, augue et condimentum blandit, magna urna viverra ante, in
            eleifend justo orci sit amet lorem.</span
          >
          <span class="content__text"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            tristique, augue et condimentum blandit, magna urna viverra ante, in
            eleifend justo orci sit amet lorem.</span
          >
        </div>
      </div>
      <span class="divider-line"></span>

      <!-- Education -->
      <span class="header__text">Education</span>
      <div class="experience__container">
        <div class="experience-left__container">
          <span class="subheader__text">University of Otago</span>
          <span class="content__text">2011 - 2015</span>
        </div>
        <span class="time-dot"></span>
        <div class="experience-right__container">
          <span class="subheader__text">Bachelor of Science</span>
          <span class="content__text">Computer Science</span>
          <span class="content__text">Mathematics</span>
        </div>
      </div>
      <span class="divider-line"></span>

      <!-- Skills -->
      <span class="header__text">Skills</span>
      <div class="skills__container">
        <!-- Languages -->
        <div class="skills__section">
          <span class="subheader__text">Languages</span>
          <ul>
            <li><span class="content__text">TypeScript</span></li>
            <li><span class="content__text">JavaScript</span></li>
            <li><span class="content__text">HTML</span></li>
            <li><span class="content__text">CSS</span></li>
            <li><span class="content__text">C#</span></li>
            <li><span class="content__text">SQL</span></li>
          </ul>
        </div>

        <!-- Frameworks -->
        <div class="skills__section">
          <span class="subheader__text">Frameworks</span>
          <ul>
            <li><span class="content__text">React</span></li>
            <li><span class="content__text">Angular</span></li>
            <li><span class="content__text">Vue</span></li>
            <li><span class="content__text">.Net Core</span></li>
            <li><span class="content__text">Web API</span></li>
            <li><span class="content__text">Microsoft SQL Server</span></li>
          </ul>
        </div>

        <!-- Personal -->
        <div class="skills__section">
          <span class="subheader__text">Personal</span>
          <ul>
            <li><span class="content__text">Positive Attitude</span></li>
            <li><span class="content__text">Communication</span></li>
            <li><span class="content__text">Teamwork</span></li>
            <li><span class="content__text">Leadership</span></li>
            <li><span class="content__text">Self-Management</span></li>
            <li><span class="content__text">Critical Thinking</span></li>
          </ul>
        </div>
      </div>
      <span class="divider-line"></span>

      <!-- Hobbies -->
      <span class="header__text">Hobbies</span>
      <div class="hobbies__container">
        <div class="hobbies__item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-headphones"
          >
            <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
            <path
              d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
            ></path>
          </svg>
        </div>
        <div class="hobbies__item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-headphones"
          >
            <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
            <path
              d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
            ></path>
          </svg>
        </div>
        <div class="hobbies__item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-headphones"
          >
            <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
            <path
              d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
            ></path>
          </svg>
        </div>
        <div class="hobbies__item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-headphones"
          >
            <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
            <path
              d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
            ></path>
          </svg>
        </div>
        <div class="hobbies__item">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-headphones"
          >
            <path d="M3 18v-6a9 9 0 0 1 18 0v6"></path>
            <path
              d="M21 19a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3zM3 19a2 2 0 0 0 2 2h1a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2H3z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
