<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<div class="resume__container">
    <div class="left-section__container">
        <span class="header__text">About Me</span>
        <span class="content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.</span>
        <span class="divider-line"></span>
        <span class="header__text">Social Links</span>
        <span class="content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.</span>
        <span class="divider-line"></span>
        <span class="header__text">References</span>
        <span class="content__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tristique, augue et condimentum blandit, magna urna viverra ante, in eleifend justo orci sit amet lorem.</span>
        <span class="divider-line"></span>
    </div>
    <div class="right-section__container">
        Meow
    </div>
</div>