.mask__area {
    fill: white;
}

.drop-shadow__container {
    filter: blur(10px);
    opacity: 0.25;
    transform: translateX(10px) translateY(5px);
}

.mask {
    mask:url("#mask__filter");
}

.drop-shadow {
    fill: black;
}

.foreground {
    fill: white;
}
.middle-layer {
    fill: #f6f6f6;
}